/* OUTER */
.itr-section {
    padding: 40px 30px;
    font-family: "Poppins", sans-serif;
    background-color: whitesmoke;
}

/* HEADER */
.itr-header {
    background: white;
    border-radius: 25px 25px 0 0;
    padding: 60px 80px 20px;
    position: relative;
    max-width: 1200px;
    margin: auto;
}

/* BUTTON */
.file-btn {
    position: absolute;
    right: 60px;
    top: 60px;
    background: black;
    color: #fff;
    border: none;
    padding: 10px 22px;
    border-radius: 25px;
    cursor: pointer;
    border: 1px solid #efbf04;
}



.file-btn:hover {
    background: #efbf04;
    color: #000;
}

/* TITLE */
.itr-header h1 {
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 8px;
    /* gap control */
    line-height: 1.2;

}

.itr-header h1 span {
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.5;
    font-size: 48px;
    /* color: #ccc; */
    color: #efbf04;
    font-weight: 700;
}


/* BADGE */
.badge {
    display: inline-block;
    background: black;
    /* color: #efbf04; */
    color: white;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 14px;
    margin-bottom: 10px;
    border: 1px solid #efbf04;
}

.badge:hover {
    background: #efbf04;
    color: black;
}

/* STEPS */
.steps-container {
    background: white;
    border-radius: 0 0 25px 25px;
    padding: 40px 80px 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    max-width: 1200px;
    margin: auto;
    position: relative;
    margin-top: -30px;
}
.news-card{
    background-color: white;
}

/* CARD */
.step-card {
    text-align: center;
    position: relative;

    opacity: 0;
    transform: translateY(30px);
    animation: fadeUp 0.6s ease forwards;
}

/* DELAY */
.step-card:nth-child(1) {
    animation-delay: 0.2s;
}

.step-card:nth-child(2) {
    animation-delay: 0.4s;
}

.step-card:nth-child(3) {
    animation-delay: 0.6s;
}

.step-card:nth-child(4) {
    animation-delay: 0.8s;
}

.step-card:nth-child(5) {
    animation-delay: 1s;
}

/* ICON */
.icon {
    font-size: 28px;
}

/* WRAPPER */
.icon-wrapper {
    position: relative;
}

/* DOT */
.dot {
    width: 10px;
    height: 10px;
    background: #efbf04;
    border-radius: 50%;
    margin: 10px auto;
}

/* LINE */
/* .line {
    position: absolute;
    top: 25px;
    left: -50%;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #efbf04, #ffd54f);
    z-index: 0;
} */

.line {
    position: absolute;
    top: 25px;
    left: -50%;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #efbf04, #ffd54f);
    z-index: 0;
    overflow: visible;
}

.line::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 12px;
    height: 12px;
    background: #efbf04;
    border-radius: 50%;
    transform: translateY(-50%);

    box-shadow:
        0 0 8px #efbf04,
        0 0 15px #efbf04;

    animation: moveBall 3s linear infinite;
}

/* TEXT */
.step-card h3 {
    font-size: 18px;
    margin-top: 10px;
}

.step-card p {
    font-size: 14px;
    color: black;
}

/* HOVER */
.step-card:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}

.step-card:hover .dot {
    box-shadow: 0 0 10px #efbf04;
}

/* ANIMATION */
@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* RESPONSIVE */
@media (max-width: 992px) {
    .steps-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .line {
        display: none;
    }

    .itr-header {
        padding: 40px 30px;
    }

    .file-btn {
        position: static;
        margin-top: 15px;
    }
}

@media (max-width: 600px) {
    .steps-container {
        grid-template-columns: 1fr;
    }
}

@keyframes moveBall {
    0% {
        left: 0%;
    }

    100% {
        left: 100%;
    }
}