/* TrustedSection.css */

.trusted-section {
    background: whitesmoke;
    padding: 40px 50px !important;
}

.trusted-wrapper {
    background: white;
    border-radius: 28px;
    padding: 40px;
    overflow: hidden;
    box-shadow: 0 10px 30px #00000014, 0 2px 10px #0000000d;
}

/* TITLE */
.trusted-title {
    font-size: 32px;
    line-height: 1.25;
    font-weight: 400;
    color: #000;
    margin: 0;
}

.trusted-title span {
    font-weight: 700;
}

/* RIGHT SIDE */

.trusted-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.google-box {
    text-align: center;
}

.google-logo {
    font-size: 70px;
    font-weight: 600;
    margin-bottom: 0;
    line-height: 1;
}

.blue {
    color: #4285f4;
}

.red {
    color: #ea4335;
}

.yellow {
    color: #fbbc05;
}

.green {
    color: #34a853;
}

.review-text {
    font-size: 30px;
    font-weight: 500;
    margin-top: -5px;
}

.rating-text {
    margin-top: 10px;
    font-size: 18px;
    color: #000;
    font-weight: 500;
}

.iso-img {
    width: 170px;
    object-fit: contain;
}

/* BRANDS AREA */

.brands-wrapper {
    background: #000;
    border-radius: 24px;
    margin-top: 40px;
    padding: 25px 10px;
}

.brands-heading {
    text-align: center;
    color: #fff;
    font-size: 15px;
    margin-bottom: 35px;
    font-weight: 500;
}

.brands-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.brand-item {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    opacity: 0.9;
    transition: 0.3s;
}

.brand-item:hover {
    opacity: 1;
    transform: translateY(-3px);
}

/* RESPONSIVE */

@media (max-width: 992px) {
    .trusted-title {
        font-size: 42px;
        text-align: center;
    }

    .trusted-right {
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    .trusted-wrapper {
        padding: 25px;
    }

    .trusted-title {
        font-size: 32px;
    }

    .google-logo {
        font-size: 52px;
    }

    .review-text {
        font-size: 22px;
    }

    .brand-item {
        font-size: 22px;
    }

    .brands-heading {
        font-size: 18px;
    }

    .iso-img {
        width: 120px;
    }
}