.vs-section {
  padding: 40px;
  color: #fff;
  position: relative;
  
}


.hhh {
  font-size: 48px;
  font-weight: 300;
  margin-bottom: 8px;
  /* gap control */
  line-height: 1.2;
}

.hhhh {
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.5;
  font-size: 16px;
  /* color: #ccc; */
  color: white;
}

.highlightt {
  font-weight: 700;
  color: #f5c542;
}

/* TOP ROW */
.vs-top {
  display: flex;
  gap: 15px;
}

/* TOP CARD */
.vs-top-card {
  flex: 1;
  padding: 20px;
  border: 1px solid #555;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.vs-top-card h3 {
  font-size: 18px;
  display: flex;
  gap: 15px;
  align-items: center;
  margin: 0px;
}

.vs-top-card.active {
  background: #f5c542;
  /* border-color: #f5c542; */
  position: relative;
  color: black;
}

.vs-top-card.active::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 35px;
  background: #f5c542;
  left: 50%;
  bottom: -35px;
  transform: translateX(-50%);
  box-shadow: 0 0 10px #f5c542;
}

.vs-top-card.active::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #f5c542;
  border-radius: 50%;
  left: 50%;
  bottom: -40px;
  transform: translateX(-50%);
  box-shadow: 0 0 10px #f5c542;
}

.vs-arrow {
  font-size: 14px;
  background-color: #000;
  color: white;
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}


/* BOTTOM PANEL */
.vs-bottom {
  margin-top: 10px;
  /* background: #eee; */
  background: white;
  color: #000;
  border-radius: 10px;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  border-color: #f5c542 !important;
}

/* LEFT SIDE */
.vs-bottom-left {
  width: 30%;

}

.vs-bottom-left p {
  color: black;

}


/* RIGHT SIDE */
.vs-bottom-right {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.vs-bottom-right p {
  color: black;
}

/* ================= MOBILE FIX ================= */
@media (max-width: 768px) {

  .vs-top {
    flex-direction: column;
  }

  .vs-top-card {
    width: 100%;
  }

  .vs-bottom {
    flex-direction: column;
    padding: 20px;
  }

  /* LEFT SECTION */
  .vs-bottom-left {
    width: 100%;
    margin-bottom: 15px;
  }

  .vs-bottom-left p {
    font-size: 14px;
  }

  /* RIGHT SECTION GRID FIX */
  .vs-bottom-right {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* 2 column mobile */
    gap: 8px;
  }

  .vs-bottom-right p {
    font-size: 13px;
    line-height: 1.4;
  }
}

@media (max-width: 480px) {

  .vs-bottom-right {
    grid-template-columns: 1fr;
    /* 1 column */
  }

  .vs-bottom {
    padding: 15px;
  }

  .vs-bottom-left p,
  .vs-bottom-right p {
    font-size: 13px;
  }
}